.create-btn {margin-top: 10px;}
#messages .success {background: green; color: white; padding: 0; margin: 0;}
#messages .error {background: red; color: white; padding: 0; margin: 0;}
#messages li { list-style: none; padding: 10px; margin: 10;}
.dropdown-toggle, .dropdown-toggle:hover {color: #ffffff;}
.navbar{margin-bottom:0;}
.showcase{background: url('/img/home-bg.jpg') no-repeat 0 -150px; min-height: 400px; color: #ffffff; border-radius:0;}

