extend layout

block content
  .container
    h1 #{title}
    ul.list-group
      each article, i in articles
        li.list-group-item
          a(href='/articles/article/'+article._id) #{article.title}