extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | Is your computer running slow? or maybe not at all? Call us for a for a quick and easy quote
          p
            a.btn.btn-primary.btn-lg(href='#') Read More
        .col-md-5
          img(src='images/mouse.png')
  .row.content
    .col-md-4
      .card
        .card-body
          h2 Hardware Problems?
          p
            | Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
    .col-md-4
      .card
        .card-body
          h2 Hardware Problems?
          p Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,
    .col-md-4
      .card
        .card-body
          h2 Tune Up
          p Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.


